# Python virtual environments
.venv/
venv/
env/
ENV/

# Python cache/build files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Django/local files
*.sqlite3
db.sqlite3
media/
staticfiles/
.env
.env.*

# IDE/editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Release artifacts, optional
release/*.zip
release/*.sig

cosign.key
cosign.exe